#myCarousel.carousel.slide
  .carousel-inner
    .active.item
      %h2 OGI Pilot
      %p MIMOSA is hosting the OGI Pilot Team in support of the ISO TC 184 OGI Technical Specification project and in conjunction with the Joint MIMOSA/PCA SIGs.  You can join the OGI Pilot Team by selecting it when you Register or updating your exiting registration.
    .item
      %h2 Joint MIMOSA/PCA SIGs
      %p MIMOSA is co-hosting the Joint MIMOSA/PCA SIGs.  MIMOSA membership is NOT required to join these SIGs.  You can join any of these SIGs by selecting them when you Register.
    .item
      %h2 Owner Operators
      %p MIMOSA is going to begin hosting the OpenO&M Owner-Operator Leadership Council.  MIMOSA membership is NOT required in order to particpate in this forum.  The NWRP CIO, Cliff Pedersen has agreed to serve as the acting chair. Those who are interested need to self register on this website and then submit their application to this page.
  %a.carousel-control.left{:href=>'#myCarousel', 'data-slide' => 'prev'}
    &lsaquo;
  %a.carousel-control.right{:href=>'#myCarousel', 'data-slide' => 'next'}
    &rsaquo;
