.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %ul.nav
        %li.dropdown
          %a.dropdown-toggle{'data-toggle'=>'dropdown', :href=>'#'}
            About Us
            %b.caret
        %li.dropdown
          %a.dropdown-toggle{'data-toggle'=>'dropdown', :href=>'#'}
            About Us
            %b.caret
        %li
          %a{:href=>'#'} News
        %li
          %a{:href=>'#'} Events
        %li.dropdown
          %a.dropdown-toggle{'data-toggle'=>'dropdown', :href=>'#'}
            Resources
            %b.caret
        %li.dropdown
          %a.dropdown-toggle{'data-toggle'=>'dropdown', :href=>'#'}
            Products
            %b.caret
        %li
          %a{:href=>'#'} Log Out
      %form.navbar-search.pull-right
        %input.search-query.span2{:type=>'text', :placeholder=>'Search'}


