.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %ul.nav
        %li.dropdown
          %a.dropdown-toggle{'data-toggle'=>'dropdown', :href=>'#'}
            About Us
            %b.caret
          %ul.dropdown-menu
            %li
              %a{:href=>'#'}Item 1
            %li
              %a{:href=>'#'}Item 2
            %li
              %a{:href=>'#'}Item 3
            %li
              %a{:href=>'#'}Item 4
        %li.dropdown
          %a.dropdown-toggle{'data-toggle'=>'dropdown', :href=>'#'}
            About Us
            %b.caret
          %ul.dropdown-menu
            %li
              %a{:href=>'#'}Item 1
            %li
              %a{:href=>'#'}Item 2
            %li
              %a{:href=>'#'}Item 3
            %li
              %a{:href=>'#'}Item 4
        %li
          %a{:href=>'#'} News
        %li
          %a{:href=>'#'} Events
        %li.dropdown
          %a.dropdown-toggle{'data-toggle'=>'dropdown', :href=>'#'}
            Resources
            %b.caret
          %ul.dropdown-menu
            %li
              %a{:href=>'#'}Item 1
            %li
              %a{:href=>'#'}Item 2
            %li
              %a{:href=>'#'}Item 3
            %li
              %a{:href=>'#'}Item 4
        %li.dropdown
          %a.dropdown-toggle{'data-toggle'=>'dropdown', :href=>'#'}
            Products
            %b.caret
          %ul.dropdown-menu
            %li
              %a{:href=>'#'}Item 1
            %li
              %a{:href=>'#'}Item 2
            %li
              %a{:href=>'#'}Item 3
            %li
              %a{:href=>'#'}Item 4
        %li
          %a{:href=>'#'} Log Out
      %form.navbar-search.pull-left
        %input.search-query.span2{:type=>'text', :placeholder=>'Search'}
      %ul.nav.pull-right.open_om
        %li
          %a{:href=>'#link_to_openom'}
            =image_tag 'openom.jpeg', height: '43px'
