.row
  #mimosa_groups.span6
    .block
      %button.btn.btn-inverse.btn-mini
        Join Now
      .title OGI Pilot
      %p MIMOSA is hosting the OGI Pilot Team in support of the ISO TC 184 OGI Technical Specification project and in conjunction with the Joint MIMOSA/PCA SIGs. You can join the OGI Pilot Team by selecting it when you Register or updating your exiting registration.

    .block
      %button.btn.btn-inverse.btn-mini
        Join Now
      .title Joint MIMOSA/PCA SIGs
      %p MIMOSA is co-hosting the Joint MIMOSA/PCA SIGs. MIMOSA membership is NOT required to join these SIGs. You can join any of these SIGs by selecting them when you Register.

    .block
      %button.btn.btn-inverse.btn-mini
        Join Now
      .title Owner Operators
      %p MIMOSA is going to begin hosting the OpenO&M Owner-Operator Leadership Council. MIMOSA membership is NOT required in order to particpate in this forum. The NWRP CIO, Cliff Pedersen has agreed to serve as the acting chair. Those who are interested need to self register on this website and then submit their application to this page.
  .span6
    .block
      .title
        %i.icon-file
        Downloads
      %table.table
        %tr
          %td
            Download 1 MIMOSA fdsa239a Spec
          %td
            %a Get it here
        %tr
          %td
            Download 1 MIMOSA fdsa239a Spec
          %td
            %a Get it here
        %tr
          %td
            Download 1 MIMOSA fdsa239a Spec
          %td
            %a Get it here
        %tr
          %td
            Download 1 MIMOSA fdsa239a Spec
          %td
            %a Get it here
    .block
      .title
        %i.icon-envelope
        News
      %table.table
        %tr
          %td
            News 1 MIMOSA fdsa239a
          %td
            %a View it here
        %tr
          %td
            News 2 MIMOSA fdsa239a
          %td
            %a View it here
        %tr
          %td
            News 3 MIMOSA fdsa239a
          %td
            %a View it here
        %tr
          %td
            News 4 MIMOSA fdsa239a
          %td
            %a View it here
    .block
      .title
        %i.icon-time
        Events
      %table.table
        %tr
          %td
            Event 1 MIMOSA fdsa239a
          %td
            %a View it here
        %tr
          %td
            Event 1 MIMOSA fdsa239a
          %td
            %a View it here
        %tr
          %td
            Event 1 MIMOSA fdsa239a
          %td
            %a View it here
        %tr
          %td
            Event 1 MIMOSA fdsa239a
          %td
            %a View it here
