@import 'bootstrap'
// @import 'bootstrap-responsive'
@import compass/css3.scss

$mimosa-green: #0B6E2A

//
// NAVBAR
//
.navbar
  +single-box-shadow

.navbar .open_om > li > a
  padding: 0px 0px 0px
  margin: 0px
  line-height: 1em

//
// HEADER
//
#top, #top p
  font-size: 17px
  line-height: 1.3em

#logo
  padding: 10px
  text-align: center

#header
  .btn-large
    padding: 10px 30px
  padding-top: 80px
  background-color: #0B6E2A
  +background-image(linear-gradient($mimosa-green, #064018))
  color: white

#mimosa_carousel
  .item > h2
    text-align: center

.carousel
  font-size: 14px
  line-height: 1.3em

.carousel
  .left
    left: 0
  .carousel-control
    top: 0%
    width: 0px
    height: 0px
    +border-radius(0px)
    border: none
    margin-top: 0

.carousel:hover .carousel-control
  display: inherit

//
// WHAT IS MIMOSA
//
#blurb
  background-color: #2F2F2F
  color: #C6C6C6
  +single-box-shadow

//
// FRONTPAGE
//
#mimosa_groups .block > button
  float: right

.title
  font-weight: bold
  font-size: 14px
  line-height: 27px

.block > ul > li
  list-style: none

//
// SIDEBAR
//
.left-sidebar li
  margin: 0px
  list-style: none


//
// GENERIC/HTML
//
a
  color: green
a:hover
  +single-text-shadow
  color: orange
  text-decoration: none

.container,
.container-fluid
  padding: 10px
