@import 'bootstrap'
// @import 'bootstrap-responsive'
@import compass/css3.scss

$mimosa-green: #0B6E2A

#top, #top p
  font-size: 17px
  line-height: 1.3em

.carousel
  font-size: 14px
  line-height: 1.3em

.carousel .carousel-control
  top: 100%
  width: 0px
  height: 0px
  +border-radius(0px)
  border: none

.carousel:hover .carousel-control
  display: inherit

#logo
  padding: 10px
  text-align: center

#header
  .btn-large
    padding: 10px 30px
  padding-top: 80px
  background-color: #0B6E2A
  +background-image(linear-gradient($mimosa-green, #064018))
  color: white

#banner
  height: 320px

#blurb
  background-color: #2F2F2F
  color: #C6C6C6
  +single-box-shadow

.navbar
  +single-box-shadow

.container,
.container-fluid
  padding: 10px

a
  color: green
a:hover
  +single-text-shadow
  color: orange
  text-decoration: none
