@import 'bootstrap'
@import compass/css3.scss

#header
  padding-top: 90px
  background-color: #0B6E2A
  color: white

#blurb
  background-color: #2F2F2F
  color: #C6C6C6

.container
  padding: 10px

a
  color: green
a:hover
  color: orange
  text-decoration: none
